<h1>Hello, pig farmer.<br>What would you like to do today?</h1>

<hr>

<%= link_to "Slaughter some pigs", new_slaughter_path, class: "btn btn-large btn-block" %>
<%= link_to "Report the birth of a litter", new_litter_path, class: "btn btn-large btn-block" %>
<%= link_to "Check my pig livestock", pigs_path, class: "btn btn-large btn-block" %>